html {
    background: url("../images/stars.gif") repeat;
}

body {
    background: none;
}

.btn {
    width: 100%;
    margin: 5px;
}

#answer-div,
#timer-area {
    display: none;
}

#question {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1,
h3,
h4,
p {
    color: rgb(201, 201, 201);
}

h4 {
    margin-top: 20px;
}

img {
    margin: 20px;
}